* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.linkish {
    color: blue;
    cursor: pointer;
}

.navbar_item {
    display: inline-block;
    background: gray;
    cursor: pointer;
}

.navbar_item:hover {
    background: lightgray;
}

.only_logind {
    display: none;
}

.inlining {
    display: inline-block;
}

.instrument_list_title {
    cursor: pointer;
}

.instrument_details_box {
    display: none;
    position: relative;
    left: 20px;
}

.practice_list_title {
    cursor: pointer;
}

.practice_details_box {
    display: none;
    position: relative;
    left: 20px;
}

#navbar_addon_div {
    float: right;
}

.navbar_addons {
    display: inline-block;
}
